body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 20px;
  background-color: #aa1ae8;
  color: white;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.menu a {
  color: white;
  transition: text-decoration 300ms ease;
}

.menu a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
}

.sidebar {
  flex: 10%;
  background: rgb(252, 218, 255);
  padding: 20px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar a {
  color: #1a73e8;
  transition: text-decoration 300ms ease;
}

.sidebar a:hover {
  text-decoration: underline;
}

.news-wrapper {
  padding: 24px;
  display: flex;
  gap: 24px;
}

.main-news {
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-news img {
  width: 100%;
  border-radius: 8px;
}

.latest-news {
  flex: 30%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.latest-news ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.latest-news a {
  color: #1a73e8;
  transition: text-decoration 300ms ease;
}

.latest-news a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #aa1ae8;
  color: white;
  text-align: center;
  padding: 15px;
}

@media (max-width: 900px) {
  .news-wrapper {
    flex-direction: column;
  }
}
