@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Застосовує модель розрахунку розмірів блоків */
}

/* 
   Background color:
   body             #F7F6F4; 
   #way-cambas      #F1DDC9;
*/

body {
  font-family: Taviraj;
  width: 1110px;
  margin: 0 auto;
  background-color: #f7f6f4;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 64px;
}

header {
  padding: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 186px;
}

header nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;

  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 20px;

  transition: text-decoration 300ms ease;
}

a:hover {
  text-decoration: underline;
}

#way-cambas {
  display: flex;
  gap: 24px;

  padding: 32px;
  background-color: #f1ddc9;
}

#way-cambas div {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

h1 {
  max-width: 500px;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(51, 51, 51);
}

#way-cambas p {
  max-width: 500px;
  font-family: Nunito;
  color: rgb(51, 51, 51);
}

#way-cambas button {
  padding: 18px 64px;
  border: none;
  background-color: rgb(221, 50, 11);
  color: white;
  font-family: inherit;
  font-size: 18px;
  margin: auto auto 0 0;

  transition: background-color 300ms ease;
}

#way-cambas button:hover {
  background-color: rgb(191, 45, 13);
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: rgb(51, 51, 51);

  margin-bottom: 64px;
}

.cards {
  display: flex;
  gap: 32px;
}

.watches {
  background-color: #fff;
  padding: 24px;
  box-shadow: inset;
  transition: transform 300ms ease;
}

.watches:hover {
  transform: scale(1.1);
}

.watches img {
  position: relative;
  top: -48px;
}

.watches p {
  font-size: 24px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

#recent-news > div {
  display: flex;
  align-items: center;
}

.recent-news-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recent-news-text p {
  color: #545454;
  font-size: 20px;
}

.recent-news-text h2 {
  font-weight: 400;
}
