body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.grid-container > div {
  background-color: #426d83;
  color: white;
  padding: 30px 10px;
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  /* Визначаємо імена областей */
  grid-template-areas:
    "header header header"
    "sidebar article ads"
    "footer footer footer";
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.article {
  grid-area: article;
  background-color: #455a64;
}

.ads {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}

@media (max-width: 480px) {
  .grid-container {
    /* Зміна на одноколончату структуру */
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "article"
      "ads"
      "footer";
  }
}
